{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{bock.super}}



<style>
    .thisy{
        padding-left: 15%;
    }
    hr{
        background: #000000;
    }
    .btner{
        background-color: #FF008C;
        border-color: #FF008C;
    }
    body{
        background-image: url(https://images.unsplash.com/photo-1455884981818-54cb785db6fc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f583b6dffc8c50e201f2be28b3badeea&auto=format&fit=crop&w=1380&q=80);
    }
    </style>
    
  
<div class="container">
    
    <div class="well well-lg">
        <h4>short intro</h4>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Similique repellendus beatae optio sint enim eveniet totam quos molestiae, 
         harum alias veniam facere suscipit exercitationem architecto quisquam, nostrum,
          hic quod dolores.
    </div>

    <div class="jumbotron">
            <h1>Longer description</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Ex eius iusto accusamus ratione autem magnam nihil consectetur veniam vel 
                 delectus qui incidunt earum nisi dolore explicabo perspiciatis reprehenderit, 
                 temporibus modi.</p>
            
          </div>
                 

</div>  <!--container  -->
      
 
        



{% endblock %}